mock-dnic/src/main/webapp/WEB-INF/wsdl/ciudadano-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://hcen.com/soap/ciudadano"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        targetNamespace="http://hcen.com/soap/ciudadano"
        name="ciudadano-service">

    <wsdl:types>
        <xs:schema targetNamespace="http://hcen.com/soap/ciudadano" elementFormDefault="qualified">

            <xs:simpleType name="TipoDocumento">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="PA"/>
                    <xs:enumeration value="DO"/>
                    <xs:enumeration value="OTRO"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="NumeroDocumento">
                <xs:restriction base="xs:string">
                    <xs:length value="8"/>
                    <xs:pattern value="[0-9]{8}"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:complexType name="solicitud_ciudadano">
                <xs:sequence>
                    <xs:element name="tipoDoc" type="tns:TipoDocumento"/>
                    <xs:element name="nroDoc" type="tns:NumeroDocumento"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="respuesta_ciudadano">
                <xs:sequence>
                    <xs:element name="tipoDoc" type="tns:TipoDocumento"/>
                    <xs:element name="nroDoc" type="tns:NumeroDocumento"/>
                    <xs:element name="nombre1" type="xs:string"/>
                    <xs:element name="nombre2" type="xs:string" minOccurs="0"/>
                    <xs:element name="apellido1" type="xs:string"/>
                    <xs:element name="apellido2" type="xs:string" minOccurs="0"/>
                    <xs:element name="sexo" type="xs:int"/>
                    <xs:element name="fechaNac" type="xs:string"/>
                    <xs:element name="codNacionalidad" type="xs:int"/>
                    <xs:element name="nombreEnCedula" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="solicitud_ciudadano" type="tns:solicitud_ciudadano"/>
            <xs:element name="respuesta_ciudadano" type="tns:respuesta_ciudadano"/>

        </xs:schema>
    </wsdl:types>

    <wsdl:message name="obtener_ciudadano_entrada">
        <wsdl:part name="solicitud_ciudadano" element="tns:solicitud_ciudadano"/>
    </wsdl:message>

    <wsdl:message name="obtener_ciudadano_salida">
        <wsdl:part name="respuesta_ciudadano" element="tns:respuesta_ciudadano"/>
    </wsdl:message>

    <wsdl:portType name="ciudadano_port_type">
        <wsdl:operation name="obtener_ciudadano">
            <wsdl:input message="tns:obtener_ciudadano_entrada"/>
            <wsdl:output message="tns:obtener_ciudadano_salida"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ciudadano_binding" type="tns:ciudadano_port_type">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtener_ciudadano">
            <soap:operation soapAction="obtener_ciudadano"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ciudadano-service">
        <wsdl:port name="ciudadano_port" binding="tns:ciudadano_binding">
            <soap:address location="http://localhost:8080/mock-dnic/ciudadano_servicio_web"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
