tests/src/test/resources/META-INF/orm-simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://xmlns.jcp.org/xml/ns/persistence/orm"
           xmlns:orm="http://xmlns.jcp.org/xml/ns/persistence/orm"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:simpleType name="versionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.0"/>
            <xs:enumeration value="2.0"/>
            <xs:enumeration value="2.1"/>
            <xs:enumeration value="2.2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="entity-mappings">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="entity" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="version" type="orm:versionType" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="entity">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="attributes" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="orm:basic" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="class" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="basic">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="enumerated" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
